{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}
Bienvenue sur notre site{# , {{ app.user.email }} #}

{# {{dump (app.user.roles)}} #}
{# <a href="{{ path ('app_logout') }}">Logout</a> #}



{% endblock %}
