{# navigation pour toutes les pages #}
<nav>
    {# lien sans connexion #}
    <a href= ""> Huiles Essentielles</a>
    <a href=""> Homeopathie</a>
            
    {# lien pour l'admin #}
    {% if is_granted ('ROLE_ADMIN') %}
        <a href=""> Ajouts Huiles Essentielles</a>
        <a href=""> Ajout Symptômes </a>
        <a href=""> Ajout Homeoathie</a>
        <a href= ""> Gestion des stocks</a>
    {% endif %}
            
    {# et toutes les options dispo uniquement avec connexion#}
    {% if app.user %}
        <a href= ""> Symptômes</a>
        <a href= ""> Favoris</a>
        Connecté: {{app.user.email}}
        <a href="{{ path ('app_logout') }}">Logout</a>
    {% else %}
        Pas connecté
        <a href="{{ path ('app_login') }}">Login</a>
    {% endif %}
</nav>