{% extends 'base.html.twig' %}

{% block title %}EsentialTerapia{% endblock %}

{% block body %}
Bienvenue sur Esential Terapia{# , {{ app.user.email }} #}

{# {{dump (app.user.roles)}} #}
{# <a href="{{ path ('app_logout') }}">Logout</a> #}



{% endblock %}
